layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/zelplugins/zjstatus.wasm" {
        format_left "{tabs} "
        format_right "{mode} #[fg=#83a598,bold]{session} #[fg=#b8bb26,bold]{swap_layout} {datetime}"

        mode_normal        "#[fg=#b8bb26,bold]{name}"
        mode_locked        "#[fg=#fb4934,bold]{name}"
        mode_resize        "#[fg=#fabd2f,bold]{name}"
        mode_pane          "#[fg=#d3869b,bold]{name}"
        mode_tab           "#[fg=#83a598,bold]{name}"
        mode_scroll        "#[fg=#8ec07c,bold]{name}"
        mode_session       "#[fg=#fe8019,bold]{name}"
        mode_move          "#[fg=#a89984,bold]{name}"

        tab_normal   "#[fg=#a89984,bold] {name}"
        tab_active   "#[fg=#83a598,bold] {name}"


                datetime          "#[fg=#6C7086,bg=#b1bbfa,bold] {format} "
                datetime_format   "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
        pane borderless=true
    }   
    

}


