# Sioyek keybindings
# Docs: https://sioyek-documentation.readthedocs.io/en/latest/configuration.html
#
# Syntax:
#   command        k           (press k)
#   command        <C-k>       (Ctrl+k)
#   command        K           (Shift+k)
#   command        <A-k>       (Alt+k)
#   command        <C-S-k>     (Ctrl+Shift+k)
#   command        gg          (g then g)
#   command1;command2   <key>  (multiple commands)

# ---------- NAVIGATION ----------
goto_beginning               gg
goto_beginning               <C-<home>>
goto_end                     G
goto_end                     <end>
goto_page_with_page_number   <home>

goto_left_smart              ^
goto_right_smart             $

# Two-column: jump to top-right of page
goto_top_of_page;goto_right_smart    zz

next_page                    <C-<pagedown>>
previous_page                <C-<pageup>>

screen_down                  <space>
screen_up                    <S-<space>>
screen_down                  <pagedown>
screen_up                    <pageup>

# Visual mark movement (vim-style)
move_visual_mark_down        j
move_visual_mark_up          k
move_visual_mark_down        <down>
move_visual_mark_up          <up>

# History navigation
prev_state                   <backspace>
prev_state                   <C-<left>>
next_state                   <S-<backspace>>
next_state                   <C-<right>>

# Chapters
next_chapter                 gc
prev_chapter                 gC

# ---------- ZOOM ----------
zoom_in                      +
zoom_out                     -
fit_to_page_width            =
fit_to_page_width            <f9>
fit_to_page_width_smart      <f10>

rotate_clockwise             r
rotate_counterclockwise      R

# ---------- OPEN / TOC ----------
open_document                o
open_document_embedded       <C-o>
open_document_embedded_from_current_path  <C-S-o>
open_prev_doc                O
goto_toc                     t

# ---------- SEARCH ----------
search                       /
search                       <C-f>
chapter_search               c/
chapter_search               c<C-f>
next_item                    n
previous_item                N

# ---------- BOOKMARKS ----------
add_bookmark                 b
delete_bookmark              db
goto_bookmark                gb
goto_bookmark_g              gB

# ---------- HIGHLIGHTS ----------
add_highlight                h
goto_highlight               gh
goto_highlight_g             gH
delete_highlight             dh
goto_next_highlight          gnh
goto_prev_highlight          gNh

# ---------- MARKS ----------
set_mark                     m
goto_mark                    `

# ---------- PORTALS ----------
portal                       p
delete_portal                dp
goto_portal                  gp
goto_portal                  <tab>
edit_portal                  P
edit_portal                  <S-<tab>>
toggle_window_configuration  <f12>

# ---------- LINKS ----------
open_link                    f
keyboard_select              v
keyboard_smart_jump          F

# ---------- MISC ----------
copy                         <C-c>
toggle_fullscreen            <f11>
toggle_highlight             <f1>
toggle_dark_mode             <f8>
toggle_synctex               <f4>
toggle_mouse_drag_mode       <f6>
toggle_visual_scroll         <f7>
toggle_presentation_mode     <f5>
command                      :
external_search              s
quit                         q

new_window                   <C-t>
close_window                 <C-w>

# Visual mark / overview (definition jump, useful for research papers)
overview_definition          l
goto_definition              <C-]>
portal_to_definition         ]
